link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600",rel="stylesheet",type="text/css")
link(href="//http://fonts.useso.com/css?family=Raleway:400,300,600",rel="stylesheet",type="text/css")
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/my.css", rel="stylesheet")
script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")