.container-fluid
	.row
		.col-md-12
				h1 
					a(href="/") Mustaxu
					small  又一个博客
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li(style="background:#f8f8f8;margin-right:5px"): a(href="/") 首页
				li(style="background:#f8f8f8;margin-right:5px"): a(href="/list") 列表
				li(style="background:#f8f8f8;margin-right:5px"): a(href="/tag") 标签
				li: a 
				-if(user)
					li(style="background:#f8f8f8;margin-right:5px"): a(href="/new") 发布
					li(style="background:#f8f8f8;margin-right:5px"): a(href="/logout") 退出
				-else
					li(style="background:#f8f8f8;margin-right:5px"): a(href="/login") 登陆
		hr

