extends ../layout

block content
	.container
		.row
			- if (user)
				.col-md-1
					a(href="/new")
						buttun.btn.btn-default(type="button") 发布
		.row
			each u in article
				a(href="/p/#{u.id}")
					h4 #{u.title}
				p: span #{u.content}