extends ../layout

block content
	h1= title
	.container
		.row
			a(href="/admin")
				buttun.btn.btn-default(type="button") post a new
		.row
			each u in article
				a(href="/p/#{u.id}") #{u.title}
				p: span #{u.content}