extends ../layout

block content
	h1= title
	.container
		.row
			.col-md-4(style="padding-left:30px;")
				form.form-horizontal(method="post",action="/login")
					.form-group
						.input-group
							.input-group-addon 用户名
							input#inputTitle.form-control(type="text", name="username")
					.form-group
						.input-group
							.input-group-addon 密码
							input#inputTitle.form-control(type="text", name="password")
					.form-group
						button.btn.btn-default(type="submit") 登陆
