extends ../layout

block content
	h1= title
	.container
		.row
			form.form-horizontal(method="post",action="/new")
				.form-group
					h4 title
					input#inputTitle.form-control(type="text", name="article[title]")
				.form-group
					h4 content
					textarea#inputTitle.form-control(type="text", name="article[content]")
				.form-group
					h4 tags
					input#inputTitle.form-control(type="json", name="article[tags]")
				.form-group
					button.btn.btn-default(type="submit") submit