extends ../layout

block content
	.container
		h1 #{tag}
		hr
		.col-md-12
			- if(hasArticle)
				.row
					each u in article
						a(href="/p/#{u.id}")
							h4 #{u.title}
						p: span #{u.content}
						hr
			- else
				.row
					p: span none